@model MailModel


<form method="POST" asp-controller="Account" asp-action ="ForgotPassword">
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-1 offset-2 col-form-label "></label>
        <div class="col-sm-6 ">
            <input  class="form-control" asp-for="Email"  >
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-7 offset-2">
            <button class="btn btn-outline-info btn-block">Send</button>
        </div>
    </div>
</form>
       

@section Scripts 
{
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

}