@model List<Category>

<div class="list-group">
    @foreach (var C in Model)
    {        
        <a href="" class="list-group-item list-group-item-action list-group-item-info"> @C.Name</a>
    }    
</div>