@model ProductListViewModel

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("Categories")
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col">


                @if (Model.Products.Count() == 0)
                {
                    @await Html.PartialAsync("_noproduct")
                }else
                {
                    <div class="row">
                            @foreach (var P in Model.Products)
                            {
                                <div class="col-md-4">
                                    @await Html.PartialAsync("_product_card",P)
                                </div>
                            }
                    </div>
                }
            </div>
        </div>


    </div>
</div>


